@import "tailwindcss";

@theme {
  --color-dark-900: #0a0a0a;
  --color-dark-800: #121212;
  --color-dark-700: #1a1a1a;
  --color-dark-600: #2a2a2a;
  --color-primary-500: #00f2fe;
  --color-primary-600: #4facfe;
  --color-accent-500: #ff0844;
}

@layer base {
  body {
    background-color: var(--color-dark-900);
    color: white;
  }
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}
